{% load static %}
<html>
    <head>
        <title>Index - Software Database</title>
        <link rel="stylesheet" href="{% static 'software/bootstrap-4.1.3/css/bootstrap.min.css' %}" >
        <script src="{% static 'software/bootstrap-4.1.3/js/bootstrap.min.js' %}" ></script>
    </head>
    <div class="container">
        <h1>Software Manage</h1>

        {% if 'edit' in message %}
            <div class="alert alert-success" role="alert">
                Software #{{ message_id }} saved with success!
            </div>
        {% endif %}

        {% if 'delete' in message %}
            <div class="alert alert-danger" role="alert">
                Software #{{ message_id }} deleted with success!
            </div>
        {% endif %}

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>#</th><th>CompanyName</th><th>FullName</th><th>JobTitle</th><th>Email</th><th>SoftwareUsername</th><th>ExpirationDate</th><th>Version</th><th>Control</th>
                </tr>
            </thead>

            <tbody >
                {% for software in object_list %}
                <tr>
                    <th>{{ software.id }}</th>
                    <td>{{ software.company_name }}</td>
                    <td>{{ software.full_name }}</td>
                    <td>{{ software.job_title }}</td>
                    <td>{{ software.email }}</td>
                    <td>{{ software.software_username }}</td>
                    <td>{{ software.expiration_date}}</td>
                    <td>{{ software.version }}</td>
                    <td>
                        <a class="btn btn-info" href="{% url 'software_view' software.id %}">View</a>
                        <a class="btn btn-warning" href="{% url 'software_edit' software.id %}">Edit</a>
                        <a class="btn btn-danger" href="{% url 'software_delete' software.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

        <p><a class="btn btn-primary" href="{% url 'software_new' %}">Create New</a></p>
    </div>
</html>
